body{
    font-family: 'EB Garamond', serif;
    font-size: 17px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #904750;
}

.white-section{
    padding-bottom: 120px;
}

.colored-section{
    background-color: #F7F5F1;
    padding-top: 80px;
    padding-bottom: 80px;
}

a:link {
    color:  #904750;
  }
  
  /* visited link */
  a:visited {
    color:  #904750
  }
  
  /* mouse over link */
  a:hover {
    color: #904750;
  }
  
  /* selected link */
  a:active {
    color:  #904750;
  }

  .btn{
    background-color: transparent;
    color: #904750;
    margin-top: 60px;
    border-color: #904750;
}

.btn:hover{
    background-color: #904750;
    border-color: transparent;
}

.btn:active{
    background-color: #904750;
    border-color: transparent;
}

.unique{
    color: #904750;
    font-style:italic;
}

/*header section */
.covid_notice{
    background-color: #904750;
    padding-top: 12px;
    padding-bottom: 4px;
}

.covid_notice p {
    color: #ffffff;
}

.contact_us{
    padding-left: 120px;
    padding-right: 120px;
}

.contact_us p{
    padding-top: 8px;
    text-align: right;
}

.logo{
    height: 150px;
    width: 350px;
}

.navbar {
    text-align: center;
    margin: auto;
}

.navbar-nav{
    margin-right: auto;
    margin-left: auto;
}

.nav-item{
    margin-right: 16px;
}

.nav-link:hover{
    font-weight: bold;
    transition: all 1 ease-in-out;
}

/* Top Banner Section */
#top_banner{
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
}

#top_banner p{
    margin-top: 40px;
    font-size: 20px;
}
.banner_container{
    display: flex;
}

.custom_banner_img{
    padding-left: 100px;
}

.banner_text{
    padding-left: 50px;
    padding-top: 170px;
}

/* Custom Process Section */
#custom_process{
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
}

#custom_process h2{
    margin-bottom: 80px;
    text-align: left;
}

.row{
    margin-top: 100px;
}
.row p, h3{
    text-align: left;
}

.section1-text{
    padding-right: 70px;

}

.section2-text{
    padding-left: 85px;

}


/* Previously Completed Designs Section */

#previously_completed{
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
}

#previously_completed h2{
    margin-bottom: 60px;
}

.social-media-img{
    width: 95%;
}

/* CTA Section */
.cta{
    background-image: url("../images/cta.png");
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.cta_text h1{
    color: #333333;
    font-weight: normal;
}

.cta_text .btn{
    background-color: #904750;
    color: #ffffff;

}
/* Footer */

.footer-content{
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
}

.socials_copyright{
    text-align: left;
    width: 50%;
    margin-right: 750px;
}


.address{
    text-align: left;
    width: 50%; 
    display: flex;
}


.fab{
    font-size: 32px;
    color: #904750;
    margin-right: 16px;
}

.footer-text{
    color: #904750;
}

.copyright{
    margin-top: 16px;
}

